@import './fonts.css';

/* 'Cerebri Sans' 'DMSans Regular' */

/* Base Styles */

body {
  font-family:  'DMSans Regular',  !important;
  background-color: whitesmoke;
}

.hero {
  background-image: url('@/assets/images/girl.jpg');
  object-position: 50% 50%;
  height: 600px;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

hr {
  border: 1.5px solid rgb(74 222 128);
  margin-top: 16px
}


/* 'Cerebri Sans' */