@import './fonts.css';

/* 'Cerebri Sans' 'DMSans Regular' */

/* Base Styles */

body {
  font-family:  'DMSans Regular', 'Cerebri Sans' !important;
  background-color: whitesmoke;
}

.hero {
  background-image: url('@/assets/images/newhome4.jpeg');
  object-position: 50% 50%;
  height: 600px;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

hr {
  border: 1px solid;
  margin-top: 10px
}
.vl {
  border-left: 2px solid rgb(74 222 128);
  height: auto;
}
.footer {
  background-image: url('@/assets/images/footer.jpeg');

}

